[submodule "gen/input/mc-nbtdoc"]
	path = gen/input/mc-nbtdoc
	url = https://github.com/Yurihaia/mc-nbtdoc.git
[submodule "gen/input/mcdata"]
	path = gen/input/mcdata
	url = https://github.com/Arcensoth/mcdata.git
