[submodule "gen/input/mc-nbtdoc"]
	path = gen/input/mc-nbtdoc
	url = git@github.com:Yurihaia/mc-nbtdoc.git
[submodule "gen/input/mcdata"]
	path = gen/input/mcdata
	url = git@github.com:Arcensoth/mcdata.git
